{%extends "index2.html" %}
{% block start %}
 

 <div class="container">
  <div class="form-container">
      <h2 class="text-center">  <em>Update details</em></h2>
      <form  method="POST" enctype='multipart/form-data'>
          {% csrf_token %} 
          <div class="form-group">
              <label for="rcp_name">Recipe Name</label>
              <input type="text" value='{{receipe.rcp_name}}' class="form-control" id="rcp_name" name="rcp_name">
          </div>
          <div class="form-group">
              <label for="rcp_description">Description</label>
             
              <textarea class="form-control" id="rcp_description" rows="3" name="rcp_description">{{receipe.rcp_description}}</textarea>
          </div>
          <div class="form-group">
              <label for="rcp_image">Image</label>
              <input type="file" class="form-control" id="rcp_image" name="rcp_image">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
  </div>
</div>
 




{% endblock %}